<ion-content>
  <div style="background-color: #f9f8f4; min-height: 100%">
    <div style="color: #6e65a7; text-align: center;">
      <img src="assets/3.png" />
      <h3>some text here i guess</h3>
    </div>
    <div style="position: absolute; bottom: 10%;">
      <img src="assets/group.png" />
      <div style="display: flex; justify-content: center">
        <ion-button
          (click)="onClick()"
          style="width: 80%; margin-top: -5px"
          class="ion-text-center"
          expand="block"
          fill="solid"
          shape="round"
        >
          <b>Get Started</b>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
