<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Location Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button [routerLink]="['/tabs/create']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div style="padding-right: 20px; padding-left: 20px; padding-bottom: 70px;">
    <h1>{{loc.poi.name}}</h1>
    <p><ion-icon name="star"></ion-icon> 
      <span *ngIf="locDetail.rating != null"> {{locDetail.rating.value}}/10 ({{locDetail.rating.totalRatings}}) </span>
      &bull; {{money}} <br />
      {{loc.poi.categories[0]}} &bull; {{loc.distance}} km away<br />
    </p>
    <hr />
    <div *ngIf="locDetail.description != null">
      <h3>Descriptions</h3>
      <p>
        {{locDetail.description}}
      </p>
      <hr />
    </div>
    <h3>Address</h3>
    <p>
      <ion-icon name="location-outline"></ion-icon>
      {{loc.address.freeformAddress}} <br />
      <ion-icon name="call-outline"></ion-icon>
      {{loc.poi.phone}}
    </p>
    <hr />
    <h3>Reviews:</h3>
    <p *ngFor="let review of this.locDetail.reviews">
      <ion-icon name="calendar-outline"></ion-icon> {{review.date}} <br />
      {{review.text}}
    </p>
  </div>
</ion-content>