<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verify Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="border-radius: 10px">
    <ion-card-header style="margin: 5px;">
      Please check your email and click on the link to verify your email
      address!
    </ion-card-header>
    <ion-card-content>
      <ion-button type="submit" (click)="db.SendVerificationMail()" color="light">
        Resend Verification Email
      </ion-button>
      <ion-button [routerLink]="['/login']" color="tertiary"> Login </ion-button>
    </ion-card-content>
  </ion-card>
  <br />
</ion-content>
