<ion-header>
  <ion-toolbar>
    <ion-title>Create Event</ion-title>
    <button icon-only clear item-right (click)="navBack()" slot="start">
      <ion-icon size="large" name="chevron-back-circle-outline"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createEvent">
    <ion-card style="border-radius: 10px">
      <ion-card-header>
        <ion-list>
          <ion-item lines="full">
            <ion-label position="floating">Event Name</ion-label>
            <ion-input
              autocapitalize
              type="text"
              formControlName="eventName"
              inputmode="text"
              required
            ></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.eventName">
            <ng-container
              *ngIf="eventName.hasError(error.type) && (eventName.dirty || eventName.touched)"
            >
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-item lines="full">
            <ion-label position="floating">Location</ion-label>
            <ion-input
              autocapitalize
              type="text"
              formControlName="eventLocation"
              inputmode="text"
              required
            ></ion-input>
          </ion-item>

          <div *ngFor="let error of errorMessages.eventLocation">
            <ng-container
              *ngIf="eventLocation.hasError(error.type) && (eventLocation.dirty || eventLocation.touched)"
            >
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating">Start Date </ion-label>
                <ion-datetime
                  formControlName="startDate"
                  presentation="date-time"
                  [(ngModel)]="minDate"
                  min="{{minDate}}"
                  max="2099-10-31"
                  position="floating"
                ></ion-datetime>
              </ion-item>
              <!-- ****************** -->
            </ion-col>

            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating">Start Time </ion-label>
                <ion-datetime
                  formControlName="startTime"
                  max="2099-10-31"
                  [(ngModel)]="minDate"
                  min="{{minDate}}"
                  position="floating"
                  display-format="h:mm A"
                  picker-format="h:mm A"
                ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating"> End Date </ion-label>
                <ion-datetime
                  formControlName="endDate"
                  max="2099-10-31"
                  position="floating"
                ></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating">End Time </ion-label>
                <ion-datetime
                  formControlName="endTime"
                  max="2099-10-31"
                  position="floating"
                  display-format="h:mm A"
                  picker-format="h:mm A"
                ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-label>Event Privacy</ion-label>
            <ion-select interface="action-sheet" value="privacy">
              <ion-select-option value="public"
                >Public (anyone can see)</ion-select-option
              >
              <ion-select-option value="youFollow"
                >People You Follow</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Category</ion-label>
            <ion-select
              formControlName="category"
              interface="action-sheet"
              value="privacy"
            >
              <ion-select-option value="networking"
                >Networking</ion-select-option
              >
              <ion-select-option value="home">Home</ion-select-option>
              <ion-select-option value="music">Music</ion-select-option>
              <ion-select-option value="party">Party</ion-select-option>
              <ion-select-option value="food">Food</ion-select-option>
              <ion-select-option value="drinks">Drinks</ion-select-option>
              <ion-select-option value="sports">Sports</ion-select-option>
              <ion-select-option value="games">Games</ion-select-option>
              <ion-select-option value="art">Art</ion-select-option>
              <ion-select-option value="comedy">Comedy</ion-select-option>
              <ion-select-option value="dance">Dance</ion-select-option>
              <ion-select-option value="film">Film</ion-select-option>
              <ion-select-option value="fitness">Fitness</ion-select-option>
              <ion-select-option value="health">Health</ion-select-option>
              <ion-select-option value="literature"
                >Literature</ion-select-option
              >
              <ion-select-option value="religion">Religion</ion-select-option>
              <ion-select-option value="theatre">Theatre</ion-select-option>
              <ion-select-option value="misc">Misc</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          type="submit"
          (click)="onCreateEvent()"
          color="primary"
          expand="block"
          [disabled]="!createEvent.valid"
          >Create Event</ion-button
        >
        <!-- <ion-button [routerLink]="['/login']" color="light" expand="block"
          >Back to Login</ion-button
        > -->
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
