<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Event Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <img src="{{event.images[0]}}" style="width: 100%; object-fit: cover" />
    <ion-card-title> {{ event.eventName }} </ion-card-title>
    <ion-card-subtitle> {{event.description}} </ion-card-subtitle>
    <ion-card-subtitle>
      {{event.score}}★ ({{event.reviews.length}})
    </ion-card-subtitle>
    <ion-card-subtitle>
      {{event.date | date}} at {{event.time | date:"shortTime" }}
    </ion-card-subtitle>
    <ion-card-subtitle> Capacity: {{event.capacity}} </ion-card-subtitle>
    <ion-card-subtitle> Entry Fee: ${{event.entryFee}} </ion-card-subtitle>
    <ion-card-subtitle>
      <!-- Location: {{event.location}} -->
      Location: {{event.location.poi.name}} <br />
      Address: {{event.location.address.freeformAddress}}
    </ion-card-subtitle>
    <ion-card-subtitle>
      Organizers: {{ userFirstName }} {{ userLastName }}
    </ion-card-subtitle>
    <ion-card-subtitle>
      Participants:
      <span
        *ngFor="let participant of participants; let isLast=last; let i=index;"
        >{{participant}} &nbsp;
      </span>
    </ion-card-subtitle>
    <!-- <ion-card-subtitle> reviews: {{event.reviews}} </ion-card-subtitle> -->
    <ion-card-subtitle> Visibility: {{event.visibility}} </ion-card-subtitle>
    <ion-button *ngIf="!hasJoined()" (click)="join()">Join event</ion-button>
    <ion-button *ngIf="hasJoined()" (click)="leave()">Leave event</ion-button>
    <ion-button
      *ngIf="this.db.userData.uid === event.organizer"
      (click)="edit()"
      [routerLink]="['edit']"
      >Edit</ion-button
    >
    <!-- <ion-button
      *ngIf="this.db.userData.uid === event.organizer"
      (click)="edit()"
      >Edit</ion-button
    > -->
    <ion-button
      *ngIf="this.db.userData.uid === event.organizer"
      (click)="delete()"
    >
      Delete
    </ion-button>
  </ion-card-content>
</ion-content>
