<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Event Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <img src="{{event.images[0]}}" style="width: 100%; object-fit: cover" />
    <ion-card-title> {{ event.eventName }} </ion-card-title>
    <ion-card-subtitle> {{event.description}} </ion-card-subtitle>
    <ion-card-subtitle>
      {{event.score}}★ ({{event.reviews.length}})
    </ion-card-subtitle>
    <ion-card-subtitle> {{event.time}}, {{event.date}} </ion-card-subtitle>
    <ion-card-subtitle> Capacity: {{event.capacity}} </ion-card-subtitle>
    <ion-card-subtitle> Entry Fee: {{event.entryFee}} </ion-card-subtitle>
    <ion-card-subtitle> Location: {{event.location}} </ion-card-subtitle>
    <ion-card-subtitle> Organizers: {{event.organizer}} </ion-card-subtitle>
    <ion-card-subtitle>
      participants: {{event.participants}}
    </ion-card-subtitle>
    <ion-card-subtitle> reviews: {{event.reviews}} </ion-card-subtitle>
    <ion-card-subtitle> visibility: {{event.visibility}} </ion-card-subtitle>
    <ion-button (click)="join()">Join</ion-button>
    <ion-button (click)="edit()">Edit</ion-button>
    <ion-button (click)="delete()">Delete</ion-button>
  </ion-card-content>
</ion-content>
