<ion-header>
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card style="border-radius: 10px">
      <ion-card-header>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" #email required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" #password required></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          type="submit"
          (click)="onSignIn(email, password)"
          color="primary"
          expand="block">Login</ion-button>
        <ion-button [routerLink]="['/register']" color="light" expand="block">Register</ion-button
        >
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
