<ion-header>
  <ion-toolbar>
    <ion-title> Locations </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Locations</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    placeholder="Enter a POI"
    searchIcon="search"
    (search)="getLocations($event.target.value)"
    animated
  ></ion-searchbar>

  <ion-list style="background-color: transparent;">
    <ion-card
    *ngFor="let poi of this.pois"
    button="true"
    [routerLink]="['/tabs/locations',poi.id]"
    style="margin: 20px; margin-top: 10px; border-radius: 10px;"
    >
      <ion-card-header style="padding: 0px">
        <ion-card-subtitle
          style="padding: 20px; padding-top: 15px; padding-bottom: 0px"
          ></ion-card-subtitle
        >
        <ion-card-title
          style="padding: 20px; padding-top: 0px; padding-bottom: 0px"
          >{{ poi.poi.name }}</ion-card-title
        >
      </ion-card-header>
      <ion-card-content
        style="padding: 20px; padding-top: 20px; padding-bottom: 25px"
      >
        {{poi.address.freeformAddress}} <br/>
        {{poi.poi.phone}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
