<ion-header>
  <ion-toolbar>
    <ion-title> Register </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-card style="border-radius: 10px">
      <ion-card-header>
        <ion-item lines="full">
          <ion-label position="floating">First Name</ion-label>
          <ion-input autocapitalize type="text" formControlName="firstName" inputmode="text" required ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Last Name</ion-label>
          <ion-input autocapitalize type="text" formControlName="lastName" inputmode="text" required ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input autocapitalize type="text" formControlName="userEmail" inputmode="email" required ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password1" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Repeat Password</ion-label>
          <ion-input type="password" formControlName="password2" required></ion-input>
        </ion-item>
        <br />
        <ion-card-subtitle style="margin: 5px;">
          <ion-row>
            <ion-checkbox color="primary" required></ion-checkbox>
            &nbsp;&nbsp;I agree to the Terms and Conditions
          </ion-row>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          type="submit"
          (click)="onRegister(email, password)"
          color="primary"
          expand="block"
          
          >Register</ion-button
        >
        <ion-button [routerLink]="['/login']" color="light" expand="block"
          >Login</ion-button
        >
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
