<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Full Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Confirm password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-checkbox color="primary"></ion-checkbox> 
  <ion-label>I agree to the Terms and Conditions</ion-label><br/>

  <ion-button expand="block" >Sign Up</ion-button>
  <ion-label [navPush]="login">Sign In</ion-label>
</ion-content>
