<ion-header>
  <ion-toolbar>
    <ion-title> Register </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-card style="border-radius: 10px">
      <ion-card-header>
        <ion-item lines="full">
          <ion-label position="floating">First Name</ion-label>
          <ion-input autocapitalize type="text" formControlName="firstName" inputmode="text" required ></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.firstName">
          <ng-container *ngIf="firstName.hasError(error.type) && (firstName.dirty || firstName.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item lines="full">
          <ion-label position="floating">Last Name</ion-label>
          <ion-input autocapitalize type="text" formControlName="lastName" inputmode="text" required ></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.lastName">
          <ng-container *ngIf="lastName.hasError(error.type) && (lastName.dirty || lastName.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input autocapitalize type="text" formControlName="userEmail" inputmode="email" required ></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.userEmail">
          <ng-container *ngIf="userEmail.hasError(error.type) && (userEmail.dirty || userEmail.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password1" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password1">
          <ng-container *ngIf="password1.hasError(error.type) && (password1.dirty || password1.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item lines="full">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" formControlName="password2" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password2">
          <ng-container *ngIf="password2.hasError(error.type) && (password2.dirty || password2.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <br />
        <ion-card-subtitle style="margin: 5px;">
          <ion-row>
            <ion-checkbox required [checked]="false" formControlName="termsConditions" color="primary"></ion-checkbox>
            &nbsp;&nbsp;I agree to the Terms and Conditions
          </ion-row>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          type="submit"
          (click)="onRegister(userEmail, password1)"
          color="primary"
          expand="block"
          [disabled]="!registerForm.valid"
          >Register</ion-button
        >
        <ion-button [routerLink]="['/login']" color="light" expand="block"
          >Back to Login</ion-button
        >
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
