<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Filters</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item button *ngFor="let item of list" (click)="handleClick(item)">
      {{item}}
    </ion-item>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content"></div>

<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- PopoverButton -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title> Home </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onPopover($event)">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list style="background-color: transparent">
    <ion-card
      *ngFor="let event of this.events"
      button="true"
      [routerLink]="['event',event.id]"
      style="margin: 20px; margin-top: 10px; border-radius: 10px"
    >
      <div>
        <ion-card class="myCard">
          <img
            src="{{event.images[0]}}"
            style="width: 100%; object-fit: cover"
          />
          <div class="myOverlay">
            {{event.score}}★ ({{event.reviews.length}})
          </div>
        </ion-card>
      </div>
      <ion-card-header style="padding: 0px">
        <ion-card-subtitle
          style="padding: 20px; padding-top: 15px; padding-bottom: 0px"
          >{{event.time}}, {{event.date}}</ion-card-subtitle
        >
        <ion-card-title
          style="padding: 20px; padding-top: 0px; padding-bottom: 0px"
          >{{ event.eventName }}</ion-card-title
        >
      </ion-card-header>
      <ion-card-content
        style="padding: 20px; padding-top: 20px; padding-bottom: 25px"
      >
        {{event.description}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
