.myCard {
  position: relative;
  padding: 0px;
  margin: 0%;
  height: 150px;
}

.myOverlay {
  position: absolute;
  z-index: 99;
  bottom: 0px;
  width: 100%;
  color: white;
  text-align: end;
  padding: 5px;
}
.date-container {
  display: flex;
  align-items: center;
  padding-top: "10px";
}
